.btnStandard {
    background-color: rgba(62, 40, 134, 0.77) !important;
    color: white !important;

}

.btnStandard a {
    color: white;
}

.btnStandard a:hover {
    text-decoration: none;
}


body{
    background-color: whitesmoke;
}
#head{
    background-color: rgba(62, 40, 134, 0.77);
    color:white;
    /*position: fixed;*/
}
#chatbox1{
    width: 100% !important;
}
#color{
}
#backcolor{
    background-color: whitesmoke;
}
#text{
    color: red;
    font-size: 30px;
}
#login{


    border:solid rgba(226, 220, 226, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}
.buttton{
    padding: 3%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px 7px 7px 7px ;
}
#options{
   // background-color: red;
    width: 700px;
    margin-left: auto;
}

#options a:hover {
    color: white;
    background-color: rgba(62, 40, 134, 0.77);
}

#options a:focus {
    color: white;
}
.but{
    color: whitesmoke;
}
#welcom{
    font-size: 90px;
    color: rgba(0, 132, 132, 0.76);
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
}

.friendsList {
    height: 400px;
    overflow: scroll;
    /*border: 2px solid black;*/
    border-radius: 6px;
}

.chatBox md-list-item {
    background-color: rgba(184, 157, 232, 0.24);
}

.chatBox {
    height: 400px;
    background-color: #458cff;
    overflow: scroll;
    background-image: url("../images/5-full.jpg");
    padding: 0px;
}
